$font-family: 'Montserrat', sans-serif;
$background-color: rgb(224, 224, 224);
$color-base: rgb(54, 43, 43);

#logo {
    border-radius: 50%;
    color: $color-base;
}
body {
    background-color: $background-color;
}
#banner_gym {
    background-image: url(../imagenes/dragoncover.webp);
    background-position: top;
    background-size: cover;
    min-height: 400px;
}

#cajas1 {
    height: 500px;
    width: 250px;
    color: $color-base;
    background-image: url(../imagenes/bakientrenando.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 12rem;
    font-size: 30px;
    border-radius: 20px;
    border: solid #000;

  }

.cajas {
	transition: transform;
	transition-duration: 1000ms;
	&:hover {
		transform: scale(1.09);
	}
}

@media screen and (max-width: 900px) {
	.cajas {
		transition: transform;
		transition-duration: 600ms;
		&:hover {
			transform: scale(1.05);
		}
	}
}

    

  #cajas2 {
    height: 500px;
    width: 250px;
    color: $color-base;    
    background-image: url(../imagenes/bakicomiendo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 12rem;
    font-size: 30px;
    border-radius: 20px;
    border: solid #000;
  }
  #cajas3 {
    height: 500px;
    width: 250px;
    color: $color-base;        
    background-image: url(../imagenes/bakifacha.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 12rem;
    font-size: 30px;
    border-radius: 20px;
    border: solid #000;
  }

#footer {
  display: flex;
  background-image: url(../imagenes/Koga.jpg);
  background-position: right;
  background-size: cover;
  min-height: 400px;

}

#footercontent {
  height: 500px;
  width: 250px;
  color: $color-base;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 6rem;
  font-size: 30px;

}
#comenza {
  text-align: center;
}

#comenza1 {
  text-align: center;
}
.contacto {
  width: 100%;
  padding-top: 1rem;
  color: white;
  background-color: white;
  width: 218px;
  border-radius: 20px;
	img {
		height: 4rem;
		margin-bottom: 10px;
	}
}

.content-footer {
	width: 100%;
	text-align: center;
  padding: 2rem;
	img {
		height: 1.5rem;
		margin-bottom: 15px;
	}
}

#cerrar {
  float: right;
}

