body{
    background-color: rgb(224, 224, 224);
}
#logo {
    border-radius: 50%;
}

#entrenamiento1 {
    height: 400px;
    
}



#entrenamiento2 {
    height: 400px;
    
}

#entrenamiento3 {
    height: 400px;
    
}