body{
    background-color: rgb(224, 224, 224);
}
#logo {
    border-radius: 50%;
}


#entrenamiento2 {
    height: 400px;
    align-items: center;
}

#entrenamiento3 {
    height: 400px;
    align-items: center;
}
